include templates/layout

block content
	.hidden-templates
		include templates/createFile
		include templates/contextMenu
	.container 
		.header
			include templates/header
		.content
			include templates/sidebar
			.editor-area
				editor


