.context-menu.none.clickandhide(hide-by-doc-click)
	.context-menu-item(move-file) 
		i.fa.fa-arrows
		| Move
	.context-menu-item(rename-file)
		i.fa.fa-pencil
		| Rename
	.context-menu-item(create-file)
		i.fa.fa-file-text
		| Create File
	.divider
	.context-menu-item(delete-file)
		i.fa.fa-file-text
		| Delete File


	//- .context-menu.none
	//- 	.context-menu-item
	//- 		i.fa.fa-arrows
	//- 		| Move
	//- 	.context-menu-item
	//- 		i.fa.fa-pencil
	//- 		| Rename
	//- 	.context-menu-item
	//- 		i.fa.fa-folder
	//- 		| Create Folder
	//- 	.context-menu-item
	//- 		i.fa.fa-file-text
	//- 		| Create File
	//- 	.divider
	//- 	.context-menu-item
	//- 		i.fa.fa-trash
	//- 		| Delete Folder