.menu
	//- .menu-item(show-menu="fileMenu") File
		ul.dropdown(ng-show="fileMenuShow")
			li sup
	//- .menu-item Edit
.logo CollabKings
.user-area
	.user.pointer(show-menu="menuDropdown")
		i.fa.fa-user
		| #{user ? user.username : ''}
		.dropdown(ng-show="menuDropdownShow")
			.item.pointer(ng-click="logout()")
				i.fa.fa-reply
				| logout