.left-sidebar.sidebar 
	projects
	
	.sidebar-section
		.title 
			i.fa.fa-caret-down 
			| Shared Projects
		.content



			
.right-sidebar.sidebar
	.sidebar-section
		.title 
			i.fa.fa-caret-down  
			| Collaborators
	chat