.left-sidebar.sidebar 
	projects
	friends
	shared-projects
	


.right-sidebar.sidebar
	.sidebar-section
		.title 
			i.fa.fa-caret-down  
			| Collaborators
	.sidebar-section
		.title 
			i.fa.fa-caret-down  
			| Notifications
	chat