.left-sidebar.sidebar 
	projects
	
	.sidebar-section
		.title 
			i.fa.fa-caret-down 
			| Friends
			i.fa.fa-plus.right.pointer(hover="Add Friend")
		.content
	.sidebar-section
		.title 
			i.fa.fa-caret-down 
			| Shared Projects
		.content


.right-sidebar.sidebar
	.sidebar-section
		.title 
			i.fa.fa-caret-down  
			| Collaborators
	.sidebar-section
		.title 
			i.fa.fa-caret-down  
			| Notifications
	chat