body
	color white

.bold
	font-weight 900
.italic
	font-style italic
.underline
	text-decoration underline
.right
	float right
.left
	float left
.text-right
	text-align right
.text-left
	text-align left
.pointer
	cursor pointer
.none
	display none !important 
[class*='none']
	display none !important


animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments
	

// Animations
@keyframes blink
	from, to 
		opacity 0
	
	50% 
		opacity 1
		