div, p, span, textarea
	color white

.bold
	font-weight 900
.italic
	font-style italic
.underline
	text-decoration underline
.pointer
	cursor pointer
.none
	display none !important 
[class*='none']
	display none !important
	

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments
	

// Animations
@keyframes blink
	from, to 
		opacity 0
	
	50% 
		opacity 1
		