.header   
    position relative
    .hidden-templates 
        position absolute
        z-index 9999
        top 0
        left 0
        
    > div
        line-height 50px
    .logo
        float left
        padding-left 25px
        color #999
    .menu 
        position absolute
        bottom 0
        height 25px
        border-top 1px solid #333
        line-height 25px
        box-shadow 0 -1px 0 0 black
        width 100%
    

        .menu-item 
            padding 0 10px
            float left
            cursor pointer
            border-right 1px solid black
            &:hover
                background #333
            &:not(:first-child)
                border-left 1px solid #333
            &:last-child
                box-shadow 1px 0 0 0 #333
    
    .user-area 
        position absolute
        right 0
        height 48px
        border-left 1px solid #333
        width 15%
        z-index 1
        text-align center
        box-shadow 0px -1px 0 1px black
        i 
            width 30px
        .dropdown
            background-color #333
            position absolute
            width 200px
            right 20px
            border-bottom 2px dashed #2D1B1B
            .item 
                text-align left
                &:hover 
                    background #222
                i 
                    width 60px
                    text-align center
                
    
