body, html 
	width 100% 
	height 100%
	margin 0 
	padding 0
* 
	box-sizing border-box


// Dependencies
@import 'dependencies/codemirror.styl'
	  
@import 'globals.styl'
@import 'sidebar.styl'
@import 'layout.styl'
@import 'header.styl'
@import 'chat.styl'
@import 'projects.styl'
@import 'contextmenu.styl'
@import 'createfile.styl'
