.file-html 
	padding 5px 0
	overflow hidden
	position absolute
	width 100%
	bottom 0
	top 30px
	left 0
	right 0
	user-select none
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none 

	.file, .folder
		cursor pointer
		
		&:hover
			background #333
	
		>i
			font-size 13px
			width 15px
			&.wide
				width 20px
			&.fa-file
				color #34A13A
				font-size 11px
			&.fa-folder,
			&.fa-folder-open
				color #37818B
	.file
		> i
			display inline-block
			margin-right 5px

	.file.selected
		background black
	.file-container
		padding-left 15px
