.folder
	i.fa.fa-caret-right(ng-hide="{{'filename' + file.name}}")
	i.fa.fa-caret-down(ng-hide="!{{'filename' + file.name}}")
	i.fa.fa-folder.wide(ng-hide="{{'filename' + file.name}}")
	i.fa.fa-folder-open.wide(ng-hide="!{{'filename' + file.name}}")
	span.folder-name {{file.name}}